<h1> <%= @player_1_name %> vs. <%= @player_2_name %> </h1>
<<<<<<< HEAD

<%= @player_2_name %>: 100HP

<form action="/attack">
  <input type="submit" value="Attack">
</form>
=======
<h1> <%= @player_2_name %>: 100HP </h1>
>>>>>>> 71ac6d341a11e17271a8b0b2bc361dd39dc677c3
